<div class="container-fluid index-pic2">
    <div class="container">
        <h1 class="title"><img src="http://www.lvyecms.com/statics/v5/images/index2_03.png" class="img-responsive center-block"></h1>
        <div class="row index-show">
            <!-- 获取模板数据 案例-->
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/case/16.shtml" target="_blank" alt="开水网">开水网</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/case/16.shtml</h6>
                        <p>开水网(www.ksuii.com)是重庆神龙网络科技有限公司旗下...</p>
                        <h4><a href="http://www.lvyecms.com/case/16.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/case/15.shtml" target="_blank" alt="美站说">美站说</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/case/15.shtml</h6>
                        <p>美站说是站长们一起分享美站经验的地方。各路美站达人...</p>
                        <h4><a href="http://www.lvyecms.com/case/15.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/enterprise/13.shtml" target="_blank" alt="多点互动企业营销策划有限公司">多点互动企业营销策划有限公司</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/enterprise/13.shtml</h6>
                        <p>贵州贵阳多点互动网络公司高端品牌，贵阳网站建设公司...</p>
                        <h4><a href="http://www.lvyecms.com/enterprise/13.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/enterprise/12.shtml" target="_blank" alt="上海帝都信息技术有限公司">上海帝都信息技术有限公司</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/enterprise/12.shtml</h6>
                        <p>上海帝都信息技术有限公司,简繁转换,网站健康诊断,网站...</p>
                        <h4><a href="http://www.lvyecms.com/enterprise/12.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/case/11.shtml" target="_blank" alt="瑜曦小窝">瑜曦小窝</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/case/11.shtml</h6>
                        <p>瑜曦小窝（www.fanyuxi.com）个人博客！</p>
                        <h4><a href="http://www.lvyecms.com/case/11.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/enterprise/10.shtml" target="_blank" alt="阳光在线娱乐有限公司">阳光在线娱乐有限公司</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/enterprise/10.shtml</h6>
                        <p>阳光在线娱乐有限公司（www.sunity5.com）！</p>
                        <h4><a href="http://www.lvyecms.com/enterprise/10.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/case/9.shtml" target="_blank" alt="应届生简历网">应届生简历网</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/case/9.shtml</h6>
                        <p>应届生简历网为中国大学毕业生/应届生提供最新、最专业...</p>
                        <h4><a href="http://www.lvyecms.com/case/9.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 ">
                <div class="index-border-headLc">
                    <div class="index-border-headL">
                    </div>
                </div>
                <div class="index-border-headCenter">
                </div>
                <div class="index-border-headRc">
                    <div class="index-border-headR">
                    </div>
                </div>
                <div class="index-border">
                    <div class="index-text3">
                        <h3><a href="http://www.lvyecms.com/case/8.shtml" target="_blank" alt="写简历网">写简历网</a></h3>
                        <img src="http://www.lvyecms.com/statics/v5/images/index2_11.png" class="img-responsive center-block">
                        <h6>http://www.lvyecms.com/case/8.shtml</h6>
                        <p>写简历网www.xjianli.com教您怎么写出好简历，告诉您好...</p>
                        <h4><a href="http://www.lvyecms.com/case/8.shtml" target="_blank">MORE<i class="icon glyphicon glyphicon-chevron-right"></i></a></h4>
                    </div>
                </div>
            </div>
        </div>
        <div style="height: 20px;"></div>
    </div>
</div>