<!-- 插件 -->
<div class="container">
    <h1 class="title"><img src="http://www.lvyecms.com/statics/v5/images/index_28.png" class="img-responsive center-block"></h1>
    <div class="row">
        <div class="col-md-8 index-text clearfix">
            <div class="row clearfix">
                <div class="left ">
                    <div>
                        <h5>2015</h5>
                        <h1><strong>06</strong></h1>
                    </div>
                    <p>点击：<span>320</span>/次</p>

                </div>
                <div class="right">
                    <h3><a href="http://www.lvyecms.com/extend/33.shtml">百度Ping插件</a></h3>
                    <h6>1.0</h6>
                    <h5>
                        <p>最为快速的提交方式，建议您将站点当天新产出链接立即通过此方式推送给百度，以保证新链接可以及时被百度收录。</p>
                    </h5>
                </div>
            </div>
            <div class="row clearfix">
                <div class="left ">
                    <div>
                        <h5>2015</h5>
                        <h1><strong>05</strong></h1>
                    </div>
                    <p>点击：<span>207</span>/次</p>

                </div>
                <div class="right">
                    <h3><a href="http://www.lvyecms.com/extend/32.shtml">Adminers数据库管理工具</a></h3>
                    <h6>1.0.0</h6>
                    <h5>
                        <p>Adminers是一个类似于phpMyAdmin的MySQL管理客户端。整个程序只有一个PHP文件，易于使用和安装。Adminers支持多语言（已自带11种翻译语言文件，可以按自己的需求翻译相应的语言）。支持PHP4.3+，MySQL
                            4.1+以上的版本。
                        </p>
                    </h5>
                </div>
            </div>
            <div class="row clearfix">
                <div class="left ">
                    <div>
                        <h5>2014</h5>
                        <h1><strong>10</strong></h1>
                    </div>
                    <p>点击：<span>414</span>/次</p>

                </div>
                <div class="right">
                    <h3><a href="http://www.lvyecms.com/extend/30.shtml">七牛云存储上传插件</a></h3>
                    <h6>1.0.0</h6>
                    <h5>
                        <p>这是一个使用七牛作为存储的上传驱动。能很好的把网站图片、附件等上传到七牛。</p>
                    </h5>
                </div>
            </div>
            <div class="row clearfix">
                <div class="left ">
                    <div>
                        <h5>2014</h5>
                        <h1><strong>07</strong></h1>
                    </div>
                    <p>点击：<span>14</span>/次</p>

                </div>
                <div class="right">
                    <h3><a href="http://www.lvyecms.com/extend/29.shtml">支付宝双功能接口支付插件</a></h3>
                    <h6>1.0.0</h6>
                    <h5>
                        <p>这是一个为了收款而制作的支付宝插件，由于没有直接到帐的接口权限，所以整的是双功能接口的。用户创建付款订单，进行付款，可以是担保交易，也可以是直接到帐。如果是担保交易，系统默认是0运费，自动发货。需要买家进支付宝确认收货才可以完成交易。</p>
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-4 index-news">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group index-search">
                    <input type="text" class="form-control" placeholder="搜索..">
                    <button type="submit" class="btn btn-default"><i class="icon glyphicon glyphicon-search" ></i></button>
                </div>
                <h3>最近更新</h3>
                <img src="http://www.lvyecms.com/statics/v5/images/index3_03.png" class="img-responsive " />
                <div class="index-text2">
                    <h5><a href="http://www.lvyecms.com/extend/33.shtml" alt="百度Ping插件" target="_blank">百度Ping插件</a></h5>
                    <p>
                        <p>最为快速的提交方式，建议您将站点当天新产出链接立即通过此方式推送给百度，以保证新链接可以及时被百度收...</p>
                </div>
                <div class="index-text2">
                    <h5><a href="http://www.lvyecms.com/extend/32.shtml" alt="Adminers数据库管理工具" target="_blank">Adminers数据库管理工具</a></h5>
                    <p>
                        <p>Adminers是一个类似于phpMyAdmin的MySQL管理客户端。整个程序只有一个PHP文件，易于使用和安装。...</p>
                </div>
                <div class="index-text2">
                    <h5><a href="http://www.lvyecms.com/extend/30.shtml" alt="七牛云存储上传插件" target="_blank">七牛云存储上传插件</a></h5>
                    <p>这是一个使用七牛作为存储的上传驱动。能很好的把网站图片、附件等上传到七牛。</p>
                </div>
                <div class="index-text2">
                    <h5><a href="http://www.lvyecms.com/extend/29.shtml" alt="支付宝双功能接口支付插件" target="_blank">支付宝双功能接口支付插件</a></h5>
                    <p>
                        <p>这是一个为了收款而制作的支付宝插件，由于没有直接到帐的接口权限，所以整的是双功能接口的。用户创建付款...</p>
                </div>
                <div class="index-text2">
                    <h5><a href="http://www.lvyecms.com/extend/28.shtml" alt="网站地图生成插件" target="_blank">网站地图生成插件</a></h5>
                    <p>
                        <p>Sitemaps 服务旨在使用 Feed 文件 sitemap.xml 通知 Google、Yahoo! 以及 Microsoft 等 Crawler(爬虫...</p>
                </div>
            </form>
        </div>
    </div>
</div>