<div class="container nav-brand">
    <h3> <a href=" http://www.lvyecms.com/case/"> 案例 &gt;&gt; </a></h3>
</div>
<div class="container">
    <div class="row tempalte-pic2">
        <!--  模块 -->
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/16.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/content/2014/07/thumb_392_257_53b55317b6ecb.jpg" alt="开水网" height="100"
                    class="center-block"></a>
            <h6>开水网</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/15.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2014/02/thumb_530feba3d8972.jpg" alt="美站说" height="100" class="center-block"></a>
            <h6>美站说</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/enterprise/13.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2014/01/thumb_52d34f73ae842.png" alt="多点互动企业营销策划有限公司" height="100"
                    class="center-block"></a>
            <h6>多点互动企业营销策划有限公司</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/enterprise/12.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2014/01/thumb_52cf7341906f5.png" alt="上海帝都信息技术有限公司" height="100"
                    class="center-block"></a>
            <h6>上海帝都信息技术有限公司</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/11.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/12/thumb_52a03a0266575.jpg" alt="瑜曦小窝" height="100" class="center-block"></a>
            <h6>瑜曦小窝</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/enterprise/10.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/12/thumb_341_213_52a03774cb30a.jpg" alt="阳光在线娱乐有限公司"
                    height="100" class="center-block"></a>
            <h6>阳光在线娱乐有限公司</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/9.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/11/thumb_528f01e441bc1.jpg" alt="应届生简历网" height="100"
                    class="center-block"></a>
            <h6>应届生简历网</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/8.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/11/thumb_528f0102811fc.jpg" alt="写简历网" height="100" class="center-block"></a>
            <h6>写简历网</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/enterprise/7.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/11/thumb_528f004868fa7.jpg" alt="上海粮全其美" height="100"
                    class="center-block"></a>
            <h6>上海粮全其美</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/6.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/11/thumb_528eff6712062.jpg" alt="爱乐生活网" height="100"
                    class="center-block"></a>
            <h6>爱乐生活网</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/5.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/11/thumb_528efba9132cc.jpg" alt="2013广汽丰田广州马拉松赛" height="100"
                    class="center-block"></a>
            <h6>2013广汽丰田广州马拉松赛</h6>
        </div>
        <div class="col-md-3 col-sm-6 case-pic">
            <a href="http://www.lvyecms.com/case/4.shtml" target="_blank"><img src="http://www.shuipfcms.com/d/file/contents/2013/11/thumb_528efc87a6ac7.jpg" alt="IKUSOO游戏街区" height="100"
                    class="center-block"></a>
            <h6>IKUSOO游戏街区</h6>
        </div>
    </div>
    <div style="height: 20px;"></div>
</div>