<div class="container ">
            <h1 class="title"><img src="http://www.lvyecms.com/statics/v5/images/tempalte_03.png" class="img-responsive center-block"></h1>
            <div class="row">
                <div class="col-md-3 col-sm-6 tempalte-pic ">
                    <div>
                        <img src="http://www.lvyecms.com/statics/v5/images/template_03.png" class="img-responsive center-block">
                    </div>
                    <h5>功能定制</h5>
                    <p>鉴于不同站点有不同功能需求，凡科为您提供更丰富的建站系统</p>
                </div>
                <div class="col-md-3 col-sm-6 tempalte-pic">
                    <div>
                        <img src="http://www.lvyecms.com/statics/v5/images/template_05.png" class="img-responsive center-block">
                    </div>
                    <h5>功能定制</h5>
                    <p>鉴于不同站点有不同功能需求，凡科为您提供更丰富的建站系统</p>
                </div>
                <div class="col-md-3 col-sm-6 tempalte-pic">
                    <div>
                        <img src="http://www.lvyecms.com/statics/v5/images/template_07.png" class="img-responsive center-block">
                    </div>
                    <h5>功能定制</h5>
                    <p>鉴于不同站点有不同功能需求，凡科为您提供更丰富的建站系统</p>
                </div>
                <div class="col-md-3 col-sm-6 tempalte-pic">
                    <div>
                        <img src="http://www.lvyecms.com/statics/v5/images/template_09.png" class="img-responsive center-block">
                    </div>
                    <h5>功能定制</h5>
                    <p>鉴于不同站点有不同功能需求，凡科为您提供更丰富的建站系统</p>
                </div>
            </div>
        </div>