<!--footer-->
<div class="container-fluid footer">
    <div class="container">
        <div class="row footer-pic clearfix">
            <ul class="clearfix picture ">
                <li> <img src="http://www.lvyecms.com//statics/v5/images/foot1.png" class="http://www.lvyecms.com//statics/v5/img-responsive"></li>
                <li class="icon">
                    <a href="#" target="_blank"><img src="http://www.lvyecms.com//statics/v5/images/foot2.png" class="img-responsive"></a>
                </li>
                <li class="icon">
                    <a href="#" target="_blank"><img src="http://www.lvyecms.com//statics/v5/images/foot3.png" class="img-responsive"></a>
                </li>
                <li class="icon">
                    <a href="#" target="_blank"> <img src="http://www.lvyecms.com//statics/v5/images/foot4.png" class="img-responsive"></a>
                </li>
                <li class="icon">
                    <a href="#" target="_blank"><img src="http://www.lvyecms.com//statics/v5/images/foot5.png" class="img-responsive"></a>
                </li>

            </ul>

            <ul class="clearfix text">
                <li class="large"><a href="#" target="_blank" style=" font-size: 20px; line-height: 32px;">开始</a></li>
                <li><a href="#" target="_blank"> 注册账号</a></li>
                <li> <a href="#" target="_blank">免费试用</a></li>
            </ul>

            <ul class="clearfix text">
                <li class="large"><a href="#" target="_blank" style=" font-size: 20px;line-height: 32px;">服务</a></li>
                <li> <a href="#" target="_blank">如何使用</a></li>
                <li> <a href="#" target="_blank">授权</a></li>
            </ul>
            <ul class="clearfix text">
                <li class="large"><a href="#" target="_blank" style=" font-size: 20px;line-height: 32px;">关于</a></li>
                <li> <a href="#" target="_blank">联系我们</a></li>
                <li> <a href="#" target="_blank">博客</a></li>
            </ul>

        </div>

    </div>
</div>

<div class="container-fluid footer2">
    <div class="row copy-right">
        <p style="color: #ffffff">Copyright © 2012 - 2016 LvyeCMS All Right Reserved.</p>
    </div>
</div>